@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* lines separating section - reference from style guide template */
.section-divider {
  padding-bottom: 2rem;
  margin-top: -1.5rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: white;
}

.section-divider-footer {
  padding-bottom: 1rem;
  margin-top: 4rem;
  padding-top: 2rem;
  margin-bottom: -10rem;
}

/* divider for cart line (above total) */
.divider {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: white;
}

/* lines separating inner elements - reference from https://www.w3schools.com/howto/howto_css_dividers.asp */
.element {
  padding-bottom: 2rem;
  margin-top: -1.5rem;
  border-top: 3px dashed #bbb;
}

.element .container-footer {
  margin-bottom: 6rem;
}

.element .container-detailed-view h2 {
  margin-top: 1rem;
}

/* Styling for in-text link: */
.link {
  color: #DAA520;
}

.link:hover, .link:focus {
  color: #95731C;
  text-decoration: none;
}

/* Styling for navigation link. Style guide template used as reference */
.navbar-buttons li {
  list-style: none;
}

.navbar-buttons li a {
  text-decoration: none;
  padding: 1rem;
  display: block;
}

.button-nav {
  display: inline-block;
  padding: 0.5rem;
  font-size: 1.3rem;
  color: white;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  transition-duration: 0.5s;
}

.button-nav:hover {
  color: #808080;
}

.block-add-to-cart {
  flex: 0 100%;
}

.block .button-nav {
  width: 99%;
  margin-top: 0.5rem;
  height: 2rem;
  text-align: center;
  padding-top: 1.5rem;
}


/* focus border reference from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_navbar_border */
.button-nav:focus {
  border-color: #DAA520;
  border: 3px solid #DAA520;
}

/* Styling for form buttons. Reference from https://www.tyssendesign.com.au/articles/css/styling-form-buttons/ */
.button-form {
  font-family: 'Open Sans';
  font-size:1rem;
  color: #FFFFFF;
  background-color: transparent;
  border: 2px solid white;
  /* transition-property: background-color; */
  transition-duration: 0.5s;
  width:10rem;
  height:3rem;

}

.button-form:hover {
  color: #FFF;
  background-color: #d6d6d6;
  /* border-bottom: 3px solid #DAA520; */
}

.button-form:focus {
  outline-color: #DAA520;
}

/* Styling for text input fields. Reference from https://learn.shayhowe.com/html-css/building-forms/#text-and-textareas */
.input-text {
  background: #ededed;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 100%;
  height: 2rem;
}

.input-text:hover {
  background: #d6d6d6;
}

.input-text:focus {
  background: #e0e0e0;
  border-color: #d6d6d6;
  outline-color: #d6d6d6;
}

.input-text-label {
  display: block;
  font-weight: bold;
}

.input-text-contact-us {
  background: #ededed;
  border-radius: 5px;
  margin-bottom: 1rem;
  /* width: 30rem; */
  height: 2rem;
  width: 100%;
}

.input-text-contact-us:hover {
  background: #DAA520;
}

.input-text-contact-us:hover {
  background: #DAA520;
}

.input-text-contact-us:focus {
  background: #e0e0e0;
  border-color: #DAA520;
  outline-color: #DAA520;
}

/* Styling for image as a link. Reference from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity */
.image-link {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.larger-element {
  padding-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}

.image {
  width: 40rem;
}

/* Styling the colored boxes */
.rectangle {
  height: 2rem;
  width: 10rem;
  background-color: #ededed;
}

.rectangle1 {
  height: 2rem;
  width: 10rem;
  background-color: #ABABAB;
}

.rectangle2 {
  height: 2rem;
  width: 10rem;
  background-color: #808080;
}

.rectangle3 {
  height: 2rem;
  width: 10rem;
  background-color: #555;
}

.rectangle4 {
  height: 2rem;
  width: 10rem;
  background-color: #000000;
}

.rectangle6 {
  height: 2rem;
  width: 10rem;
  background-color: #1a1a1a;
}

.rectangle5 {
  height: 2rem;
  width: 10rem;
  background-color: #95731C;
}

/* Styling for brand component headings */
/* styling for the logo (my name)*/
.logo {
  margin-left: -2.5rem;
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: lighter;
  transition-duration: 0.5s;

}

.logo:hover {
  color: #808080;
  transition-duration: 0.5s;
  /* opacity: 80%; */
}

.h2-sample {
  margin-top: 0rem;
  font-weight: lighter;
  font-family: 'Montserrat';
}

/* flexbox container */
.container {
  padding-top: 15rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 3px;
  padding-bottom: 10rem;
  /* justify-content: center; */
}


.block-img {
  position: relative;
  height: 25rem;
  flex-grow: 1;
}

/* label for service listing images, reference above */
.block-img h3 {
  color: #fff;
  text-align: left;
  margin: 0px;
  position: absolute;
  left: 3rem;
  bottom: 3rem;
}

/* overlay for hovering over images, reference above */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.block-img:hover .overlay {
  opacity: .5;
}

/* text overlay that appears over images while hovering, reference above */
.text-overlay {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* end of reference for block image overlays */
.block {
  flex-grow: 1;
  padding: 2%;
}

/* <!-- reference for nav bar from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav -->
<!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_topnav_centered --> */
.topnav {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
   align-items: center;
}

.topnav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

/* positioning for the logo in the top left */
.topnav-left {
  float: left;
  padding-left: 2.5rem;
  padding-top: 1rem;
}

/* header reference from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_style_header */
.header {
  width: auto;
  height: 150px;
  overflow: hidden;
  border: 5px solid black;
}

/* https://www.w3schools.com/howto/howto_css_image_text.asp */
.header-text {
  position: absolute;
  /* top: 20rem; */
  /* margin-left: 5rem; */
  /* left: 10%; */
  /* right: 10rem; */
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.header-text h1 {
  font-size: 5rem;
  margin-top: 0rem;
}

.header-text p {
  padding-top: 1rem;
}


/* crop for services header https://stackoverflow.com/questions/493296/css-display-an-image-resized-and-cropped */
.crop-header {
  width: 100%;
  height: 40rem;
  overflow: hidden;
}

.crop-header img {
  width: 100%;
  height: 100%;
  margin: 0px 0 0 0px;
  object-fit: cover;
}

/* Styling for footer */
.container-footer{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 background-color: #1a1a1a;
 padding-bottom: 3rem;
 padding-top: 3rem;
}

.container-footer a{
  padding: 15px;
}

.block-footer {
  padding-left: 2rem;
  padding-right: 2rem;
}

.block-footer ul {
   list-style-type: none;
   margin-left: -3.5rem;
}

.block-footer li {
   padding-bottom: 1rem;
}

.block-footer p {
   margin-top: -1px;
}

/* used the flexbox exercise as reference */
.block-footer:nth-child(1) {
  flex: 1.5;
}

.block-footer:nth-child(2) {
  flex: 1;
  padding-left: 8rem;
}

.block-footer:nth-child(3) {
  flex: 1;
}

.block-footer:nth-child(4) {
  flex: 1.5;
}

.container-footer .mobile-font-top {
  padding-left: 2px;
  font-size: 1.3rem;
}

.container-footer .auto-detailing-font-top {
  margin-left: -3.5rem;
  font-size: 1.23rem;
}

.container-footer .topnav {
  margin-top: -1rem;
}

/* Reference for using span for checkout from https://www.w3schools.com/howto/howto_css_checkout_form.asp */
span.price {
  float: right;
  color: #909090;
}

h2 {
  margin-top: 3rem;
  font-weight: 300;
  font-size: 3.5rem;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0rem;
  font-family: 'Montserrat', sans-serif;
}

p {
  /* max-width: 60rem; */
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;

}

h3 {
  font-family: 'Open Sans';
  font-style: italic;
  /* text-decoration: underline; */
  /* font-weight: 600; */
  font-weight: 300;
  font-size: 3rem
}

h4 {
  font-style: italic;
  font-family: 'Open Sans';
  font-size: 1.2rem;
  text-decoration: underline;

}

body {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: black;
  transition: background-color 0.2s;
}

p, h1, h2, h3 {
  color: white;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ P03 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~~~~~~ABOUT PAGE~~~~~~~~~~~~~~~~~~~~~~~ */

.container-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 3px;
  margin-bottom: -20rem;
}

.header-img {
  width: 50rem;
}

.container-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10rem;
}

.container-about h1 {
  padding-top: 5rem;
}

.about-img {
  float: left;
  width: 40rem;
  height: 50rem;
  object-fit: cover;
  /* padding: 1px; */
}

.block-about {

}

.block-about:nth-child(1) {
  margin-right: -3rem;
  z-index: 1;
}


.block-about p {
  width: 30vw;
}

.block-about h2 {
  max-width: 50rem;
  margin-top: 6rem;
  margin-bottom: 2rem;

}

/* ~~~~~~~~~~~~~~~PROJECTS OVERVIEW~~~~~~~~~~~~~~~~~~~~~ */
.container-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.block-projects {
  flex-grow: 0 100%;
  overflow: hidden;
  margin-top: 15rem;
}


/* .box {
  width: 100px;
  height: 800px;
} */

.block-projects p {
  width: 30vw;
}

.block-projects h2 {
  max-width: 25vw;
}

.block-projects:nth-child(1) {
  z-index: 1;
  margin-right: -10rem;
  padding-top: 10rem;
}

.block-projects:nth-child(4) {
  z-index: 1;
  padding-top: 10rem;
  margin-left: -10rem;
}

.block-projects-img {
  position: relative;
  flex-grow: 1;
}

.section-divider .container-projects {
  margin-top: -9rem;
}

.projects-img {
  float: left;
  width: 50rem;
  height: 50rem;
  object-fit: cover;
}

.container-projects h2{
  margin-top: 0rem;
}

#project2-pic {
  order: 4;
}

#project2-desc {
  order: 3;
}

/* reference for hover interactions from https://www.youtube.com/watch?v=ltxxNidblts */

.image-link {
  transition: transform 1.2s;
  float: left;
  width: 50rem;
  height: 50rem;
  object-fit: cover;
}

.image-link:hover {
  transition: transform 1.2s;
  transform: scale(1.1);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~DETAILED PROJECT VIEW PAGES ~~~~~~~~~~~~~~~~~~~~~~~~~*/
.container-summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10rem;
  margin-right: 10rem;
}

.container-summary h2 {
  margin-bottom: -1rem;
  padding-top: 5rem;
}

.block-summary {
  flex: 0 40%;
  /* margin-left: 3rem;
  margin-right: 3rem; */
}

.block-summary p {
  padding-bottom: 2rem;

}

.block-summary:nth-child(2) {
  /* margin-top: -10rem; */
  /* align-self: flex-end;
  margin-left: auto; */
  /* margin-right: 3rem; */
}

.block-summary:nth-child(2) {
  /* margin-top: -10rem; */
  /* align-self: flex-end;
  margin-left: auto; */
  /* margin-left: 3rem; */
}

.container-poster {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20rem;
  justify-content: center;
  margin-left: 10rem;
  margin-right: 10rem;
  /* background-color: red; */
}

.container-poster p {
  max-width: 30vw;
}

#full-width-img-id {
  flex: 0 100%;
  margin-top: -5rem;
}

.full-width-img {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 99.5vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.almost-full-width-img {
  left: 50%;
  margin-left: -45vw;
  margin-right: -50vw;
  max-width: 90vw;
  position: relative;
  right: 50%;
  width: 100vw;
/*
  left: 50%;
  margin-left: -45vw;
  margin-right: -50vw;
  max-width: 75vw;
  position: relative;
  right: 50%;
  width: 100vw; */
}

.block-poster {
  /* flex: 0 35%; */
  margin-top: 10rem;
  margin-bottom: 20rem;
}

/* making image blocks span the whole width */
.block-poster:nth-child(2){
  flex-grow: 1;
  flex: 0 100%;
  margin-top: -27rem;
}

.block-poster:nth-child(4){
  flex-grow: 1;
  flex: 0 100%;
  margin-top: -4rem;
}

.block-poster:nth-child(6){
  flex-grow: 1;
  flex: 0 100%;
  margin-top: -27rem;
}

/* making the block be alone (left) */
.block-poster:nth-child(1){
  flex: 0 100%;
}

.block-poster:nth-child(5){
  flex: 0 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* reference for positioning individual flex items https://stackoverflow.com/questions/32551291/in-css-flexbox-why-are-there-no-justify-items-and-justify-self-properties/33856609#33856609 */

/* making the block be alone to the right */
.block-poster:nth-child(3){
  align-self: flex-end;
  margin-left: auto;
}

.block-poster:nth-child(7){
  align-self: flex-end;
  margin-left: auto;
}

.block-poster h3 {
  margin-top: -15rem;
  margin-bottom: -1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~ KINETIC TYPOGRAPHY DETAILED VIEW ~~~~~~~~~~~~~~~~ */

.container-kinetic {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20rem;
  justify-content: center;
  margin-left: 10rem;
  margin-right: 10rem;
}

.container-kinetic p {
  max-width: 30vw;
}

.block-kinetic {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* making image blocks span the whole width & are moved up */
.block-kinetic:nth-child(2){
  flex-grow: 1;
  flex: 0 100%;
  margin-top: -15rem;
}

.block-kinetic:nth-child(4){
  flex-grow: 1;
  flex: 0 100%;
  margin-top: -15rem;
}

/* making the block be alone (left) */
.block-kinetic:nth-child(1){
  flex: 0 100%;
  /* margin-bottom: 1rem; */
}

.block-kinetic:nth-child(5){
  flex: 0 100%;
}

/* making the block be alone to the right */
.block-kinetic:nth-child(3){
  align-self: flex-end;
  margin-left: auto;
}

.block-kinetic:nth-child(6){
  align-self: flex-end;
  margin-left: auto;
}


.block-poster h2 {
  margin-top: -15rem;
}

.header-text-detailed {
  text-align: center;
}

.header-text-detailed h1 {
  font-size: 5rem;
  margin-top: 0rem;
}

.header-text-detailed p {
  padding-top: 1rem;
}

.img-style-guide {
  width: 20rem;
}

/* responsive video embed, reference from https://www.ostraining.com/blog/coding/responsive-videos/ */
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    border: 0;
}

/* background changing color */
/* reference: https://codepen.io/patrickcameron/pen/WNGrpEw */
body.changeColorGrey {
   background-color: #9B9B9B;
}

body.changeColorWhite {
   background-color: #e9edef;
}


/* arrow reference from https://www.w3schools.com/howto/howto_css_arrows.asp */
.arrow {
  margin-top: 7rem;
  border: solid white;
  width: 50px;
  height: 50px;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
